// Colors
$primary-color: #f0f0f0;
$secondary-color: #ffffff;
$neumorphism-shadow-light: #ffffff;
$neumorphism-shadow-dark: #b7b7b7;
$text-color: #333333;
$text-color-light: #555555;
$text-color-lighter: #666666;